.navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 15px 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #F8F8F8;
    z-index: 100;
}
.navbar .form{
    display: flex;
    align-items: center;
}
.navbar .name{
    position: relative;
    display: flex;
    align-items: center;
    color: rgb(29,45,91);
    font-size: 17px;
    font-weight: 500;
    cursor: pointer;
}
.navbar .name ul{
    z-index: 3;
    position: absolute;
    right: 20px;
    top: 50px;
    height: 80px;
    width: 100px;
    background: white;
    border-radius: 4px;
    z-index: 90;
    transition: all ease-in-out 0.1s;
    box-shadow: 0 0 10px #E5E5E5;
    border-top: 10px solid rgb(29,45,91);
    cursor: pointer;
}
.navbar .name ul.active{
    display: none;
}
.navbar .name ul li{
    list-style: none;
    padding: 4px 4px;
    border-bottom: 1px solid rgb(29,45,91);
    border-top: 1px solid rgb(29,45,91);
    transition: all ease-in-out 0.3s;
}
.navbar .name .fa{
    margin-left: 5px;
}
.navbar h3{
font-weight: 700;
font-size: 24px;
line-height: 32px;
color: rgb(29,45,91);
}
.navbar .bell{
    position: relative;
    margin-right: 15px;
    cursor: pointer;
}
.navbar .bell span{
    position: absolute;
    top: -4px;
    right: 6px;
    text-align: center;
    background-color: red;
    color: white;
    width: 18px;
    line-height: 18px;
    border-radius: 50%;
}
.navbar .fa{
    background-color: white;
    margin-right: 15px;
    color: rgb(29,45,91);
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    border-radius: 50%;
}
.navbar .navbar_task{
    background-color: rgb(29,45,91);
    color: white;
    font-size: 14px;
    padding: 8px 20px;
    border-radius: 4px;
    margin-right: 20px;
    cursor: pointer;
}
.navbar .bell .out-block{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 2;
}
.navbar .bell .out-user{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 2;
}
.navbar .bell .button{
    z-index: 3;
    position: absolute;
    right: 0px;
    top: 50px;
    height: 150px;
    width: 240px;
    border-top: 10px solid rgb(29,45,91);
    background: white;
    border-radius: 4px;
    overflow-y: scroll;
    z-index: 90;
    transition: all ease-in-out 0.1s;
    box-shadow: 0 0 10px #E5E5E5;
}
.navbar .bell .button.active{
    display: none;
}
.navbar .bell .button .button-items{
    text-align: start;
    padding: 10px 8px;
    border-bottom: 1px solid rgb(29,45,91);
    border-top: 1px solid rgb(29,45,91);
    transition: all ease-in-out 0.3s;
}
.navbar .bell .button .button-items:hover{
    background: #F9F9F9;
}
.navbar .bell .button h4{
    font-size: 20px;
    margin-bottom: 5px;
}
.navbar .bell .button p{
    margin: 0;
    font-size: 15px;
}